body {
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.container{
    max-width: 95% !important;
}
.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff !important;
}
.gallery-sidebar {
    max-height: 900px;
    overflow-y: auto;
    padding: 10px;
    background: rgba(247, 247, 247, 0.8);
}
.gallery-sidebar img,
.gallery-sidebar .video{
    display: inline-block;
    width: 49%;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    object-fit: cover;
}
.gallery-sidebar img:hover {
    transform: scale(1.05);
}
.gallery-sidebar video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.gallery-sidebar .video{
    position: relative;
}
.gallery-sidebar .video:after{
    content: "Video";
    position: absolute;
    display: block;
    background: #1ac2ff;
    top: 0px;
    right: 0px;
    padding: 0px 10px;
    color : #fff;
}
.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    object-position: center;
}
.upload-box {
    width: 150px;
    height: 150px;
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image_preview img,
#image_preview video{
    height: 150px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}
.description-panel {
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}
.prompt-buttons .btn {
    margin: 5px;
    border-radius: 8px;
    background: #F3F3F3;
    /*width: 184px;*/
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D0CDCD;
    flex: 1;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;

}
.prompt-buttons .btn:hover{
    color: #aaaaaa;
}
.upload-btn {
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}
.upload-btn:hover{
    border: 1px solid #007bff;
}
.process-btn {
    /*border-radius: 20px;*/
    padding: 10px 20px;
}

.custom_height{
    height: 500px;
}

.overflow-auto{
    overflow: auto;
}

.info-box {
    border: 2px solid #aaa;
    padding: 30px 20px;
    position: relative;
}
.info-box:after{
    content: "Instructions";
    position: absolute;
    display: block;
    background: #efefef;
    top: -11px;
    left: 10px;
    padding: 0px 10px;
}

.input-group{
    border: 1px solid #EBEBEB;
    background: #f4f4f4;
    width: 100%;
    border-radius: 16px;
    padding: 16px;
}
.input-group input{
    background: transparent !important;
    border: 0px !important;
}
.input-group button{
    border: 0px;
    border-radius: 12px !important;
    background: #E1E1E1;
    color: #3C52FE !important;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
}
.input-group button:hover{
    background: #E1E1E1;
}
.no_events{
    pointer-events: none !important;
}
.response_container{
    display: none;
}
@media screen and (max-width: 1400px) {
    .prompt-buttons .btn{
        font-size: 14px;
        height: 100px;
    }
}
@media screen and (max-width: 1300px) {
    .prompt-buttons .btn{
        font-size: 11px;
        height: 100px;
    }
}
@media screen and (max-width: 1200px) {
    .custom_height{
        height: 300px;
    }
    .main_section{
        padding-top: 0px;
    }
    .navbar-light{
        padding-bottom: 10px;
    }
    .gallery-sidebar {
        max-height: 700px;
    }
    .gallery-sidebar img, .gallery-sidebar .video{
        width: 48%;
        height: 100px;
        margin-right: 0px;
    }


}